body {
    background-image: url("101Emboss1.gif");
    background-repeat: repeat;
}
.navbar {
      position: relative;
	  background-color: #004A7F;
    }
	.navbar-brand {
	  padding: 0px;
	  height: 50px;
	}
	.navbar-brand>img {
	  height: 100%;
	  padding: 15px;
	  width: auto;
	  padding: 7px 15px;
	}
	.footer {
	  background-color: #004A7F;
	  color: #aaa;
	}
	body > .container {
      padding: 10px 0 10px 0;
	}
	.jumbotron {
	  padding: 2rem 1rem;
	  margin-bottom: 0;
	}
p {
 margin-bottom: 0;
}
.img-illustr {	 
  float: left;
  margin: 7px 24px 7px 0;
}
.img-illustr-right {	 
  float: right;
  margin: 7px 0 7px 24px;
}
.p-illustr {
  text-align: justify;
  white-space: pre-line;
}
.one-image {
  display: inline-block;
  text-align: center;
  padding:5px; 
  vertical-align: top;  
}
.image-collection {
  max-width: 256px;
  /*max-height: 161px; */
}